{% include "Recipe/partials/head.html" %}


<body>
    {% include "Recipe/partials/header.html" %}
    {% include "Recipe/partials/search.html" %}

    <main class="main-content-conteiner">
        <div class="main-content main-content-list conteiner">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://placehold.co/1280x720?text=Hello+World" alt="temporario">
                    
                </div>
            </div>
        </div>
    </main>
</body>

</html>